

@using BaumarktSystem.Data.Models
@using System.Globalization
@using BaumarktSystem.Common
@model List<Product>

<h2>Your Shopping Cart</h2>

@if (Model != null && Model.Count > 0)
{
    <form method="post" asp-action="UpdateCart" asp-controller="ShoppingCart">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Price per Item</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <input type="hidden" asp-for="@Model[i].FullName" />
                    <input type="hidden" asp-for="@Model[i].Id" />
                    <tr>
                        <td>@Model[i].FullName</td>
                        <td><img src="@Model[i].ImageUrl" alt="Product Image" width="100" /></td>
                        <td>@Model[i].Price.ToString("C", new CultureInfo("eu-EU"))</td>
                        <td>@Model[i].Description</td>
                        <td>
                            <label for="quantityInput_@i">Quantity:</label>
                            <input type="number" class="form-control" asp-for="@Model[i].TempQuantity" min="1" />
                            <input type="hidden" asp-for="@Model[i].Id" />
                        </td>
                        <td>@string.Format(new CultureInfo("eu-EU"), "{0:C}", (Model[i].Price * Model[i].TempQuantity))</td>

                        <td>
                            <button type="button" class="btn btn-danger btn-sm delete-product" data-product-id="@Model[i].Id">
                                <i class="fas fa-trash-alt"></i> Delete
                            </button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

        <p>Total Order Price: <span>@Model.Sum(p => p.Price * p.TempQuantity).ToString("C", new CultureInfo("eu-EU"))</span></p>

        <input type="hidden" name="additionalData" value="Тази стойност ще се върне в модела" />

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Update Cart</button>           
            <a href="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-secondary">Continue Shopping</a>
        </div>
    </form>
    <button class="btn btn-primary" onclick="checkout()">Checkout</button>
}
else
{
    <p>Your cart is empty.</p>
    <a href="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-primary">Continue Shopping</a>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.delete-product').click(function () {
                var productId = $(this).data('product-id');
                $.ajax({
                    type: 'POST',
                    url: '/ShoppingCart/RemoveCartProducts', // Подменете с пътя към вашия контролер и действие
                    data: { id: productId },
                    success: function () {
                        // Обновете интерфейса или презаредете страницата, за да отразите промените
                        location.reload();
                    }
                });
            });
        });

        function checkout() {

            alert("Proceeding to checkout...");
            window.location.href = '@Url.Action("ShoppingCartSummary", "ShoppingCart", new { area = "" })';
        }

    </script>
}



