

@using BaumarktSystem.Web.ViewModels.ShoppingCart
@using System.Globalization
@using BaumarktSystem.Common
@model ShoppingCartSummaryView

<h2 class="card-text mb-3">YOUR SHOPPING BAG</h2>

<form method="post" asp-action="ShoppingCartSummaryPost">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="fullName">Full Name:</label>
                <input asp-for="@Model.ApplicationUser.FullName" required type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number:</label>
                <input asp-for="@Model.ApplicationUser.PhoneNumber" required type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input asp-for="@Model.ApplicationUser.Email" required type="text" class="form-control" />
            </div>
        </div>
        @if (User.IsInRole(GeneralApplicationConstants.roleAdmin))
        {
            <div class="col-md-6">
                <div class="form-group">
                    <label for="streetAddress">Street Address:</label>
                    <input asp-for="@Model.ApplicationUser.StreetAddress" required type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="city">City:</label>
                    <input asp-for="@Model.ApplicationUser.City" type="text" required class="form-control" />
                </div>
                <div class="form-group">
                    <label for="postalCode">Postal Code:</label>
                    <input asp-for="@Model.ApplicationUser.PostalCode" required type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="state">State:</label>
                    <input asp-for="@Model.ApplicationUser.State" type="text" class="form-control" />
                </div>
            </div>
        }
    </div>

    <h3>Cart Items</h3>
    <a href="@Url.Action("GetCartProducts", "ShoppingCart")" class="btn btn-secondary">Back to Cart</a>

    @if (Model.ProductsList != null && Model.ProductsList.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>FullName</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Short Description</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ProductsList.Count(); i++)
                {
                    <tr>
                        <td>
                            <input type="hidden" name="ProductsList[@i].Id" value="@Model.ProductsList[i].Id" />
                            <input type="hidden" name="ProductsList[@i].FullName" value="@Model.ProductsList[i].FullName" />
                            <input type="hidden" name="ProductsList[@i].TempQuantity" value="@Model.ProductsList[i].TempQuantity" />
                            <input type="hidden" name="ProductsList[@i].Price" value="@Model.ProductsList[i].Price" />
                            @Model.ProductsList[i].FullName
                        </td>
                        <td>@Model.ProductsList[i].TempQuantity</td>
                        <td>@Model.ProductsList[i].Price.ToString("C", new CultureInfo("eu-EU"))</td>
                        <td>@Model.ProductsList[i].ShortProductDescription</td>
                        <td><img src="@Model.ProductsList[i].ImageUrl" width="100" /></td>
                    </tr>
                }
            </tbody>
        </table>

        <p>Total Price: @Model.ProductsList.Sum(p => p.Price * p.TempQuantity).ToString("C", new CultureInfo("eu-EU"))</p>

        <div class="button-group">
            @if (User.IsInRole(GeneralApplicationConstants.roleAdmin))
            {
                <button type="submit" class="btn btn-success" id="checkout-button">Proceed to Checkout</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary">Proceed to Checkout</button>
            }

            <a href="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-secondary">Continue Shopping</a>
        </div>
    }
    else
    {
        <p>Your cart is empty.</p>
        <a href="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-primary">Continue Shopping</a>
    }
</form>

 
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

