@using BaumarktSystem.Web.ViewModels.ShoppingCart
@using System.Globalization
@model ShoppingCartSummaryView



<h2 class="card-text mb-3">YOUR SHOPPING BAG</h2>

<h3>User Information</h3>
<p><strong>Full Name:</strong> @Model.ApplicationUser.FullName</p>
<p><strong>Phone Number:</strong> @Model.ApplicationUser.PhoneNumber</p>
<p><strong>Email:</strong> @Model.ApplicationUser.Email</p>

<h3>Cart Items</h3>
<a href="@Url.Action("GetCartProducts", "ShoppingCart")" class="btn btn-secondary">Back to Cart</a>

@if (Model.ProductsList != null && Model.ProductsList.Any())
{
    <form method="post" asp-action="ShoppingCartSummaryPost">
        <table class="table">
            <thead>
                <tr>
                    <th>FullName</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Short Description</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ProductsList.Count(); i++)
                {
                    <input type="hidden" name="ShoppingCartSummaryView.ProductsList[@i].Id" value="@Model.ProductsList[i].Id" />
                    <input type="hidden" name="ShoppingCartSummaryView.ProductsList[@i].FullName" value="@Model.ProductsList[i].FullName" />

                    <tr>
                        <td>@Model.ProductsList[i].FullName</td>
                        <td>@Model.ProductsList[i].TempQuantity</td>
                        <td>@Model.ProductsList[i].Price.ToString("C", new CultureInfo("eu-EU"))</td>
                        <td>@Model.ProductsList[i].ShortProductDescription</td>
                        <td><img src="@Model.ProductsList[i].ImageUrl" width="100" /></td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- Hidden fields for ApplicationUser properties -->
        <input type="hidden" name="ShoppingCartSummaryView.ApplicationUser.FullName" value="@Model.ApplicationUser.FullName" />
        <input type="hidden" name="ShoppingCartSummaryView.ApplicationUser.PhoneNumber" value="@Model.ApplicationUser.PhoneNumber" />
        <input type="hidden" name="ShoppingCartSummaryView.ApplicationUser.Email" value="@Model.ApplicationUser.Email" />

        <p>Total Price: @Model.ProductsList.Sum(p => p.Price*p.TempQuantity).ToString("C", new CultureInfo("eu-EU"))</p>

        <div class="button-group">
            <button type="submit" class="btn btn-primary">Proceed to Checkout</button>
            <a href="@Url.Action("Index", "Home",new { area = "" }))" class="btn btn-secondary">Continue Shopping</a>
        </div>
    </form>
}
else
{
    <p>Your cart is empty.</p>
    <a href="@Url.Action("Index", "Home",new { area = "" }))" class="btn btn-primary">Continue Shopping</a>
}

@section Scripts {
    <script>
        // ...
    </script>
}


