@using BaumarktSystem.Web.ViewModels.Home
@model IEnumerable<CategoryIndexViewModel> 

@{
    ViewData["Title"] = "All Category";
}


<div class=" btn btn-default "  >

    <h2 class="card-text    mb-3">ALL CATEGORY</h2>

</div>

@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShowOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShowOrder)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        <a asp-controller="Category" asp-action="EditCategory" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Category" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="Category"    asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }



        </tbody>
    </table>

    <div class="col-6 text-right">
        <a asp-controller="Category" asp-action="Create" class="btn btn-primary">Create New</a>
    </div>

}
else
{
    <p>There is no category in the database</p>
}