@using BaumarktSystem.Web.ViewModels.Home
@model ProductIndexViewModel

@{
    ViewData["Title"] = "Delete Product";
}

<div class="container mt-4">
    <h2 class="card-text mb-3">DELETE PRODUCT</h2>
    <div>
        <h4>Are you sure you want to delete the following product?</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID:</dt>
            <dd class="col-sm-10">@Model.Id</dd>

            <dt class="col-sm-2">Full Name:</dt>
            <dd class="col-sm-10">@Model.Name</dd>

            <dt class="col-sm-2">Short Description:</dt>
            <dd class="col-sm-10">@Model.ShortProductDescription</dd>

            <dt class="col-sm-2">Description:</dt>
            <dd class="col-sm-10">@Model.Description</dd>

            <dt class="col-sm-2">Price:</dt>
            <dd class="col-sm-10">@Model.Price</dd>

            <dt class="col-sm-2">Category:</dt>
            <dd class="col-sm-10">@Model.Category.Name</dd>

            <dt class="col-sm-2">Application Type:</dt>
            <dd class="col-sm-10">@Model.ApplicationType.Name</dd>
        </dl>

        <form asp-action="DeleteProducts" method="post">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="AllProducts" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>



