@using BaumarktSystem.Web.ViewModels.Home
@model IEnumerable<ApplicationTypeIndexViewModel>

@{
    ViewData["Title"] = "All ApplicationType";
}

<div class=" btn btn-default ">

    <h2 class="card-text    mb-3">ALL APPLICATION TYPE</h2>

</div>

@if (Model.Count() > 0)
{
    <table class="table">
        
          <thead>

            <tr>

                <th>

                    @Html.DisplayNameFor(model => model.Name)

                </th>



                <th>

                    @Html.DisplayNameFor(model => model.Id)

                </th>


                <th></th>

            </tr>

          </thead>

     

     <tbody>

        @foreach (var item in Model)
        {

            <tr>

                <td>

                    @Html.DisplayFor(modelItem => item.Name)

                </td>



                <td>

                    @Html.DisplayFor(modelItem => item.Id)

                </td>

                <td>

                        <a asp-action="EditApplicationType" asp-route-id="@item.Id">Edit</a> |

                        <a asp-action="DetailsApplicationType" asp-route-id="@item.Id">Details</a> |

                        <a asp-action="DeleteApplicationType" asp-route-id="@item.Id">Delete</a>

                </td>

            </tr>
        }


     </tbody>

    </table>

           

            <div class="col-6 text-right">
                <a asp-controller="ApplicationType" asp-action="CreateApplicationType" class="btn btn-primary">Create New Type</a>
            </div>
}

 else
{
                <div class="alert alert-danger" role="alert">
                 No Application Type Found
                 </div>


    <div class="col-6 text-right">
        <a asp-controller="ApplicationType" asp-action="CreateApplicationType" class="btn btn-primary">Create New Type</a>
    </div>
}

       

<!-- Path: Baumarkt E-commerce Platform\Views\ApplicationType\AllApplicationType.cshtml -->








      


